streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
pypdf
PyPDF2
python-dotenv
faiss-cpu
sentence-transformers
huggingface-hub
transformers
torch
tiktoken
numpy
pandas
requests
beautifulsoup4
validators
duckduckgo-search
wikipedia
arxiv
pymupdf
unstructured
